<div class="container">
    <h1>My Teams</h1>

    <div class="row">
        <table class="table table-striped">
            <th>Name</th>
            <th># of moves</th>
            <th># of trades</th>
            <th>Logo</th>
            <tr ng-repeat="team in teams">
                <td>{{team.name}}</td>
                <td>{{team.number_of_moves}}</td>
                <td>{{team.number_of_trades}}</td>
                <td><img ng-src="{{team.team_logos[0].team_logo.url}}" /></td>
            </tr>
        </table>
    </div>
</div>